.Auth{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px rgb(184, 183, 183);
    border: 1px solid rgb(197, 197, 197);
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width :600px){
    .Auth{
        width: 500px;
    }
}